@page
@model ASP.NETCoreGruppProjektDaniel_John.Pages.ManageUsersModel
@using ASP.NETCoreGruppProjektDaniel_John.Models
@inject UserManager<MyUser> userManager
@{
    ViewData["Title"] = "ManageUsers";
}

<h1>Manage Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
            <th>
                Is Organizer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyUser)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (await userManager.IsInRoleAsync(item, "organizer"))
                    {
                        <form method="post" >
                            <input type="checkbox" checked disabled/>
                        </form>
                    }
                else
                    {
                <form method="post">
                    <input type="checkbox" disabled/>
                </form>  


                    }

                    <!--Html.DisplayFor(modelItem => userManager.IsInRoleAsync(item, "organizer"))  -->         <!--item.RoleIsOrganizer-->     <!-- await userManager.IsInRoleAsync(user, "admin");  -->
<td>
                <td>

                    @if (await userManager.IsInRoleAsync(item, "organizer"))
                    {
                        <form method="post" asp-route-UserName="@item.UserName" asp-page-handler="Remove">
                            <button type="submit">Remove organizer</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-route-UserName="@item.UserName" asp-page-handler="Add">
                            <button type="submit">Make organizer</button>
                        </form>
                    }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./NormalUsers/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
